@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-g-primary {
  background: rgb(111, 186, 101);
  background: linear-gradient(90deg, rgba(111, 186, 101, 1) 0%, rgba(9, 169, 133, 1) 100%);
}

button.slick-arrow.slick-next{
  right: 0px;
  background-color: white;
  color: #000;
}
button.slick-arrow.slick-prev{
  left: 0px;
  background-color: white;
  color: #000;
}
