@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-g-primary {
  background: rgb(111, 186, 101);
  background: linear-gradient(90deg, rgba(111, 186, 101, 1) 0%, rgba(9, 169, 133, 1) 100%);
}

button.slick-arrow.slick-next {
  right: 0px;
  z-index: 100;
}

button.slick-arrow.slick-prev {
  left: -5px;
  z-index: 100;
}

button.slick-arrow.slick-next::before {
  content: url('../../public/assets/arrow-right-s-line.png');
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  padding-top: 2px;
  box-shadow: 0 0 5px #000;
  opacity: 100;
}

button.slick-arrow.slick-prev::before {
  content: url('../../public/assets/arrow-left-s-line.png');
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  padding-top: 2px;
  box-shadow: 0 0 5px #000;
  opacity: 100;
}